/* ------ text ------ */
$roboto : 'Roboto', sans-serif;
$monospace : 'Roboto Mono', monospace;

/* ------ colours ------ */
$peach: #FFC88F;
$lavander: #D7D2D6;
$lilac: #D6C1DC;
$pearl: #EEE8DA;
$dark-grey: #443C3C;
$gradient: linear-gradient(177.81deg, #FFC88F 0%, #F5EDDC 47.41%, #D7D2D6 100.39%);

/* ------ breakpoints ------ */
$screen-s : 576px;
$screen-m : 768px;
$screen-l : 992px;
$screen-xl : 1200px;